
/* GLOBAL STYLES */

@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}



#logo {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 2.3em;
  float: left;
}

nav {
  float: right;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  padding-left: 40px;
  font-size: 1.2em;
  font-family: 'Roboto Slab', Helvetcia, serif;

}

.content {
  padding-top: 200px;
}



.tagline {
  color: white;
  text-align: center;
  font-size: 4em;
  margin: 0;

}

header {
  padding: 2rem;

}

.button-wrapper {

  text-align: center;
  margin: 3rem 0;
}

.button-big {
  color: white;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 2rem;
  padding: .5rem 2rem;
  margin: 0 2rem;
  text-decoration: none;
  background-color: #0090ff;
  font-family: 'Roboto Slab';
  border: solid 1px skyblue;
  box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.24);


}



/* BANNER STYLES */
#banner {
  height: 100vh;
  background-image: url(/img/pacific-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#services {
  background-color: #e9f3ff;
  margin: 0 auto;
  padding: 60px;
  height: 380px;
}

.services-wrapper {
  max-width: 90%;
  margin: 0 auto;
  background-color: #e9f3ff;

}

.seo, .photo, .branding {
  padding: 60px 40px;
  box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.24);
  margin: 0 auto;
}

.seo {
  box-sizing: border-box;
  height: 350px;
  width: 30%;
  background-color: white;
  color: #0090ff;
  float: left;
  text-align: center;
  margin-right: 50px;
}

.photo {
  box-sizing: border-box;
  height: 350px;
  width: 30%;
  background-color: white;
  color: #0090ff;
  float: left;
  text-align: center;
  margin-right: 50px;
}

.branding {
  box-sizing: border-box;
  height: 350px;
  width: 30%;
  background-color: white;
  color: #0090ff;
  float: left;
  text-align: center;
}

#services p {
  max-width: 250px;
  margin: 0 auto;

}

.service-button {
  color: white;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 2rem;
  padding: .5rem .8rem;
  text-decoration: none;
  background-color: #0090ff;
  font-family: 'Roboto Slab';
  border: solid 1px skyblue;
  box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.24);
  display: block;
  width: 100px;
  margin: 60px auto;
}

#seo-title, #photo-title, #brand-title {
  font-size: 2em;
  padding-bottom: 50px;
}

#clients {
  margin-top: 100px;
}

.client-wrapper {
  max-width: 90%;
  margin: 0 auto;
}
/* TEST RUN
.client-center {
  box-sizing: border-box;
  height: 450px;
  width: 40%;
  background-color: #0090ff;

  text-align: left;
  padding: 5%;
  color: white;
  font-size: 1.2em;
  border-radius: 7px;
  box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.35);
  display: inline-block;
  z-index: 1;
  position: absolute;
  margin: 0 auto;

}

.client-left {
  box-sizing: border-box;
  height: 250px;
  width: 50%;
  background-color: #0090ff;
  float: left;
  padding: 2.5%;
  color: white;
  font-size: 0.9em;
  border-radius: 5px;

}
*/

.client-center {
  box-sizing: border-box;
  height: 450px;
  width: 40%;
  background-color: #0090ff;
  color: white;
  float: left;
  text-align: left;
  font-size: 1.4em;
  box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.35);
  padding: 5%;
position: absolute;
  margin: 0 auto;
  display: inline-block;
  z-index: 0;
}

.client-left {
  box-sizing: border-box;
  height: 350px;
  width: 30%;
  background-color: #0090ff;
  color: white;
  float: left;
  text-align: left;
  font-size: 1.1em;
  padding: 2.5%;
  display: inline-block;
  margin-top: 100px;
}

.client-right {
  box-sizing: border-box;
  height: 350px;
  width: 30%;
  background-color: #0090ff;
  color: white;
  float: right;
  text-align: left;
  font-size: 1.1em;
display: inline-block;
margin-top: 100px;
padding: 2.5% 0 0 7%;
}


.client-button {
  color: #0090ff;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 2rem;
  padding: .5rem .8rem;
  text-decoration: none;
  background-color: white;
  font-family: 'Roboto Slab';
  border: solid 1px skyblue;
  box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.24);
  position: absolute;
  display: block;
  max-width: 40%;
  margin: 100px auto;
}

.group::after {
  content: "";
  display: table;
  clear: both;
}

.contact-wrapper {
  text-align: center;
  background-color: #e9f3ff;
  margin-top: 100px;
  height: 450px;
}

h2 {
  font-size: 3em;
  color: #0090ff;
  padding-top: 100px;
  padding-bottom: 50px;
}

.contact-button {
  color: white;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 2rem;
  padding: .9rem 1.6rem;
  text-decoration: none;
  background-color: #0090ff;
  font-family: 'Roboto Slab';
  border: solid 1px skyblue;
  box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.24);
  display: block;
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
}

footer {
  height: 150px;
  background-color: white;
  color: #0090ff;
  text-align: center;
  padding-top: 50px;

}
